<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body class="container">

    <header>
        <% include ('../partials/header') %>
    </header>

    <main>
        <div class="jumbotron">
            <h1><%= new_heading %></h1>
            <p><%= new_content %></p>
        </div>
    </main>
    <div>

        <img src="img/kuva.png" />
    </div>

    <footer>
        <%= new_footer %>
    </footer>

</body>

</html>